
.productsBlock{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px 0;
}
.productsBlock > div{
    flex-basis: 45%;
    border: 1px solid #ccc;
    padding: 10px;
}
.withFilterProductsBlock > div{
    flex-basis: 45%;
    border: 1px solid #ccc;
    padding: 10px;
}

@media screen and (min-width: 756px){
    .productsBlock{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 25px 0;
    }
    .productsBlock > div{
        flex-basis: 23%;
        border: 1px solid #ccc;
        padding: 10px;
    }
    .withFilterProductsBlock > div{
        flex-basis: 31%;
        border: 1px solid #ccc;
        padding: 10px;
    }
}