.productCard{
    cursor: pointer;
}
.productInfo{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.productImage img{
    max-width: 100%;
}
.productBtn{
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
}

@media screen and (min-width: 756px){
    .productInfo{
        font-size: 14px;
    }

    .productBtn a{
        background-color: var(--main-color);
        text-align: center;
        font-size: 14px;
        padding: 5px 0;
        margin-top: 10px;
        color: #fff;
    }
}