header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 ;
  .logo{
    max-width: 100px;
    img{
      max-width: 100%;
    }
  }
  .mobileLangButton{
    display: flex;
    align-items: center;
    margin-left: 15px;
    svg{
      font-size: 24px;
    }
  }

}
.phoneLangBlock{
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  .phone{
    display: flex;
    align-items: center;
    font-size: 14px;
    img{
      margin-right: 5px;
      max-width: 18px;
    }
  }
}
.language {
  display: none;
  ul{
    display: flex;
    list-style-type: none;
    li{
      margin: 0 5px;
      font-size: 8px;
      cursor: pointer;
    }
    li.activeLang{
      position: relative;
      &:after{
        content:"";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--main-color);
      }
    }
  }
}
.mobileLangActive{
  display: block;
  position: absolute;
  background: rgba(255,255,255,0.9);
  right: 0;
  top: 44px;
  padding: 15px;
  ul{
    flex-direction: column;
    gap: 15px;
    li{
      font-size: 14px;
      padding: 3px 20px;
    }
  }
}

@media screen and (min-width: 456px){
  .phoneLangBlock{
    .phone{
      font-size: 16px;
    }
  }

}

@media screen and (min-width: 756px){
  header{
    padding: 80px 0 70px 0;
    .logo{
      max-width: unset;
    }
    .mobileLangButton{
      display: none;
    }
  }
    .phoneLangBlock .phone{
      font-size: 16px;
      img{
        margin-right: 5px;
      }
    }
  .language {
    display: block;
    ul{

      li{
        margin: 0 15px;
        font-size: 16px;
      }
    }
  }
}