.callButtonBlock button{
  border: none;
  font-size: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  display: flex;
  a{
    color: #fff;
    display: block;
    background: var(--main-color);
    padding: 12px;
    text-decoration: none;
    width: 100%;
    flex: 1;
  }
}