.callButtonBlock{
  width: 100%;
  button{
    border: none;
    font-size: 10px;
    font-weight: 600;
    width: 100%;
    display: flex;
    background: none;
    a{
      color: #fff;
      display: block;
      background: var(--main-color);
      padding: 12px;
      text-decoration: none;
      width: 100%;
      flex: 1;
    }
  }
}
.smallCallButtonBlock{
  width: 60%;
  button{
    font-weight: 500;
    a{
      font-size: 8px;
      padding: 8px;
    }
  }
}
@media screen and (min-width: 456px){
  .smallCallButtonBlock{
    width: 50%;
  }
}
@media screen and (min-width: 600px){
  .smallCallButtonBlock{
    width: 40%;;
    button{
      a{
        font-size: unset;
      }
    }
  }
}
@media screen and (min-width: 900px){
  .smallCallButtonBlock{
    width: 50%;
    button{
      a{
        padding: 12px;
      }
    }
  }
}
